language: node_js
node_js:
  - lts/*
  - node
services:
  - docker
before_install:
  - 'git config --global url."git@github.com:".insteadOf "https://github.com/"'
  - npm install -g lsc
  - docker build -t services-cache ./run
  - 'docker run -d -p 6379:6379 services-cache'
script:
  - npm run coverage
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage;
cache:
  directories:
    - ~/.npm
notifications:
  email: false
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
after_success:
  - npm run semantic-release
